.tests-wrapper {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tests {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.test {
    margin: 4px;
    min-width: 320px;
    width: calc(30% - 10px);
    max-width: 385px;
    height: 240px;
    background-color: rgb(245, 245, 245);
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block-info-text {
    height: 60%;
    width: 100%;
}
.test-info {
    font-size: 19px;
}
.options {
    height: 40%;
    /* min-height: 150px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.option {
    width: 90%;
    height: 50px;
    background-color: rgb(135, 135, 135);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.option:hover {
    cursor: pointer;
    background-color: rgb(179, 179, 179);
}
.option-text {
    height: auto;
    color: snow;
    font-size: 24px;
    font-weight: 400;
}