#remainingTime {
    font-size: 14px;
    color: snow;
}
.tests-wrapper {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tests {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.test {
    margin: 4px;
    width: calc(40% - 120px);
    max-width: 500px;
    min-width: 420px;
    min-height: 350px;
    height: 35vh;
    max-height: 400px;
    background-color: snow;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.test img {
    height: 40%;
}
.title {
    font-weight: 600;
}
.block-text {
    width: 75%;
    height: auto;
    color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.options {
    height: 40%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.option {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    background-color: rgb(135, 135, 135);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.option:hover {
    cursor: pointer;
    background-color: rgb(179, 179, 179);
}
.option-text {
    height: auto;
    color: snow;
    font-size: 24px;
    font-weight: 400;
}
.test-final {
    width: 40%;
    height: 140px;
    background-color: #ee6437;
    transition: 1s;
    display: flex;
    align-items: center;
}
.test-final:hover {
    cursor: pointer;
    background-color: #ba4d29;
    transition: 1s;
}
.NMT-title {
    font-size: 50px;
}
.blocked {
    position: relative;
    cursor: not-allowed;
    color: dimgray;
    background-color: dimgray;
}
.blocked:hover {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: 0.2s;
}