* {
    user-select: none;
    box-sizing: border-box;
    font-family: Arial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
meta[name="apple-mobile-web-app-status-bar-style"] {
    content: default;
}
body {
    background: #1d2f42;
}
#remainingTime {
    font-size: 14px;
    color: snow;
}
.tests {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.test {
    margin: 4px;
    width: calc(40% - 120px);
    max-width: 500px;
    min-width: 420px;
    min-height: 350px;
    height: 35vh;
    max-height: 400px;
    background-color: #7ad1ce;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.test img {
    height: 70%;
}
.title {
    font-weight: 600;
}
.block-text {
    width: 75%;
    height: auto;
    color: #FFFF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.b3t {
    color: #000000;
}
.options {
    height: 40%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.option {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    background-color: snow;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.option:hover {
    cursor: pointer;
    background-color: rgb(199, 199, 199);
    transition: 1s;
}
.option.b3 {
    background-color: rgb(135, 135, 135);
}
.option.b3:hover {
    background-color: rgb(179, 179, 179);
}
.option-text {
    height: auto;
    color: black;
    font-size: 24px;
    font-weight: 400;
}
.b3o {
    color: snow;
}
.test-final {
    width: 40%;
    height: 140px;
    background-color: #ee6437;
    transition: 1s;
    display: flex;
    align-items: center;
}
.test-final:hover {
    cursor: pointer;
    background-color: #ba4d29;
    transition: 1s;
}
.b1 {
    background-color: #fb9a9a;
}
.b2 {
    background-color: #c196f2;
}
.b3 {
    background-color: rgb(245, 245, 245);
}
.b3 p {
    color: rgb(255, 255, 255);
}
.b4 {
    background-color: #1c1e2a;
}
.b5 {
    background-color: rgb(197, 206, 184);
}
.NMT-title {
    font-size: 50px;
}
.blocked {
    cursor: not-allowed;
    color: dimgray;
    background-color: dimgray;
}