* {
    user-select: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background: #cef8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    display: grid;
    place-items: center;
    align-items: center;
}

.container {
    margin-top: 20px;
    display: flex;
    place-items: center;
    background-color: rgb(188, 205, 205);
    border-radius: 3px;
    height: 10vw;
    width: 60vw;
    min-width: 300px;
    max-width: 95vw;
}

.button {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 3px;
    height: 80%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.button:hover {
    transition: 1s;
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    font-size: 115%;
    height: 90%;
}
.btn-text {
    text-align: center;
    font-size: 2vw;
    padding: 3px;
}

.top_bar {
    position: absolute;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit_btn {
    border: none;
    padding: 10px 44px;
    font-size: 16px;
    position: relative;
    border-radius: 40px;
    background: #fb9a9a;
}
.exit_btn::before {
    border-radius: 40px;
    width: 25%;
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    content-visibility: hidden;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.exit_btn:hover::before {
    background: #f35b5b ;
    width: 100%;
    font-size: 16px;
    text-align: center;
}
.exit_btn_text{
    color: white;
    mix-blend-mode: lighten;
}
