* {
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
body {
    background: #1d2f42;
    display: flex;
    justify-content: center;
}
.top_bar {
    position: absolute;
}
.exit_btn {
    border: none;
    padding: 10px 44px;
    font-size: 16px;
    position: relative;
    border-radius: 40px;
    background: #fb9a9a;
}
.exit_btn::before {
    border-radius: 40px;
    width: 25%;
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    content-visibility: hidden;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.exit_btn:hover::before {
    background: #f35b5b ;
    width: 100%;
    font-size: 16px;
    text-align: center;
}
.exit_btn_text{
    color: white;
    mix-blend-mode: lighten;
}
.tests {
    margin-top: 44px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.test {
    margin: 4px;
    width: calc(50% - 10px);
    max-width: 375px;
    height: 240px;
    background-color: #c196f2;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.test p {
    width: 85%;
    height: 40%;
    color: rgb(0, 0, 0);
    font-size: 110%;
}
.option {
    width: 90%;
    height: 35px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.option:hover {
    cursor: pointer;
    background-color: rgb(179, 179, 179);
    transition: 1s;
}
.option p {
    height: auto;
    color: black;
}
.test-final {
    width: calc(50% - 10px);
    height: 100px;
    background-color: #ee6437;
    transition: 1s;
    display: grid;
    align-content: center;
    place-items: center;
}
.test-final:hover {
    cursor: pointer;
    background-color: #ba4d29;
    transition: 1s;
}
.test-final p {
    overflow: visible;
    font-size: 24px;
    width: 100%;
}
